/* .backgroundLita {
    background: #ffeda1 url('../assets/imgs/background-comic-effect.svg') no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    
}

.backgroundLita::after {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: url('../assets/imgs/Lita.png') no-repeat bottom right;
    background-size: contain;
    z-index: 0;
}

.main-container{
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 1;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.backgroundLita {
    background: #ffeda1;
}

.main-container {
    background:
        url('../assets/imgs/Lita.png') no-repeat bottom right,
        url('../assets/imgs/background-comic-effect.svg') no-repeat center;
    background-size: contain, cover;
    background-attachment: fixed, fixed;
    display: flex;
    min-height: 100vh;
}