.main-container {
        background:
                url('../assets/imgs/lita-comic-2.png') bottom right / contain no-repeat fixed,
                url('../assets/imgs/background-comic-effect.svg') center / cover no-repeat fixed;
        display: flex;
}

.main-container-dark {
        background:
                url('../assets/imgs/lita-comic-2.png') bottom right / contain no-repeat fixed,
                url('../assets/imgs/background-comic-effect.svg') center / cover no-repeat fixed;
        background-blend-mode: none darken;
        display: flex;
}